<div class="content" role="main" fxLayout="column">

	<div class="controls" fxFlex="25vh" fxLayout="column" fxLayoutAlign="center center">

		<div class="time-presets" fxLayout="row wrap">
			<div  *ngFor="let preset of presets">
				<button (click)="onSetTime(preset.time, preset.inc, preset.name)" class="control-btn {{selectedPreset == preset.name ? 'active' : ''}}">
					<span class="control">{{preset.name}}</span>
				</button>
			</div>
		</div>

		<div fxLayout="row">
			<button (click)="onReset()" class="control-btn">
				<mat-icon aria-hidden="false" aria-label="reset" class="control">refresh</mat-icon>
			</button>
			<button (click)="onPause()" class="control-btn">
				<mat-icon aria-hidden="false" aria-label="pause" class="control">pause</mat-icon>
			</button>

			<label class="switch sound-toggle">
				<input type="checkbox" [(ngModel)]="isSoundEnabled" name="sound-check" />
				<span class="slider round"></span>
			</label>

			<!-- <button (click)="onCycleMode()" class="control-btn">
				<mat-icon aria-hidden="false" aria-label="reset" class="control">forward</mat-icon>
			</button> -->
		</div>
	</div>

	<div class="clock-container" fxLayout="row" fxLayoutAlign="space-evenly start" fxFlex="50vh">
		<div id="clock1" class="clock {{clock1.state}} {{cd1.left/1000 < dangerZone ? 'danger': ''}}" (click)="onBtnOne()" fxFlex="47">
			<span class="increment" *ngIf="clock1.increment != 0">+{{clock1.increment}}</span>
			<countdown #cd1 [config]="config1" (event)="handleEvent($event)"></countdown>
		</div>


		<div id="clock2" class="clock {{clock2.state}} {{ cd2.left/1000 < dangerZone ? 'danger': ''}}" (click)="onBtnTwo()" fxFlex="47">
			<span class="increment" *ngIf="clock2.increment != 0">+{{clock2.increment}}</span>
			<countdown #cd2 [config]="config2" (event)="handleEvent($event)"></countdown>
		</div>
	</div>

	<div fxLayout="row" class="moves" fxLayoutAlign="center start">
		<strong>Moves: {{ moveCount }}</strong>
	</div>


</div>

<div class="attribution">
	created by khanh nguyen &bull; <a href="https://github.com/khanh-n/chess-clock" target="_blank" title="Github Link">https://github.com/khanh-n/chess-clock</a>
</div>
