@use '~@angular/material' as mat;
@import 'material-icons/iconfont/material-icons.css';
@import 'scss/fonts/lcdbold/font.css';
@import 'scss/_colors';
@import 'scss/forms';

* {
	transition: all 0.1s;
}
html, body {
	height: 100%;
	background-color: $primary-bg;
	color: $primary-fg;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%}

a,
a:visited {
	color: $primary-fg;
	text-decoration: none;
}

a:hover,
a:active {
	color: darken($primary-fg, 25%);
}

.controls {
	margin: 2rem;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 10px;

	.time-presets button > span {
		font-size: 18px;
	}
	.mat-icon {
		height: auto;
		width: auto;
	}
	.control {
		font-size: 2rem;
	}
	.control-btn {
		background-color: $primary-bg;
		color: $primary-fg;
		border: 1px solid $highlight;
		border-radius: 15px;
		padding: 0.35rem 1rem 0.25rem;
		margin: 0.5rem;
		cursor: pointer;
	}
	.control-btn:hover,
	.control-btn.active {
		background-color: $highlight;
		color: $primary-bg
	}

}
.moves {
	font-family: 'LCDBOLD';
	font-size: 2rem;
	padding-top: 2rem;
}

.clock-container {
	text-align: center;

	.clock {
		position: relative;
		font-family: 'LCDBOLD';
		font-size: 9.21rem;
		padding-top: 7.21rem;
		padding-bottom: 7.21rem;
		cursor: pointer;
		border-radius: 1.5rem;
		background-color: lighten($primary-bg, 10%);
		// &:first-child {border-right: 1px solid #fff;}
	}

	.clock.paused {
		background-color: lighten($primary-bg, 10%);
		border: 1px solid lighten($primary-bg, 10%);
		color: $primary-fg;
	}
	.clock.active {
		background-color: lighten($primary-bg, 15%);
		border: 1px solid $highlight;
		color: $highlight;
	}

	.clock.active.danger {
		color: $danger;
	}

	.increment {
		position: absolute;
		top: 36px;
		right: 25px;
		font-size: 4rem;
		opacity: 0.45;
	}
}

.sound-toggle {
	margin-top: 0.5rem;
	margin-left: 1rem;

	span.slider:before {
		content: "\e04f";
		font-family: "Material Icons";
		font-size: 34px;
		bottom: -8px;
		background-color: transparent;
		color: $primary-fg;
	}

	input:checked+.slider:before {
		content: "\e050";
		font-size: 36px;
		color: $primary-bg;
	}
}

@media only screen and (max-width: 769px) {
	.clock-container {
		.clock {
			font-size: 6.21rem;
			padding-top: 5rem;
			padding-bottom: 5rem;
		}

		.increment {
			top: 15px;
			right: 20px;
			font-size: 2rem;
		}
	}
}

@media only screen and (max-width: 480px) {
	.clock-container {
		.clock {
			font-size: 3.5rem;
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}
		.increment {
			top: 5px;
			right: 10px;
			font-size: 1rem;
		}
	}

	.controls {
		.time-presets button > span {
			font-size: 16px;
		}
		.control-btn {
			padding: 0.25rem 1rem;
			margin: 0.5rem 0.25rem;
		}

	}
}

.attribution {
	position: absolute;
	font-size: 12px;
	bottom: 0;
	right: 0;
	padding: 0.5rem 0.5rem;
	text-align: right;
	opacity: 0.65;
	background-color: transparentize($primary-fg, 0.85);
	color: $primary-fg;
	border-radius: 5px 0 0 0;
	// a, a:visited { color: $primary-bg; }
}