@use '~@angular/material' as mat;
@import 'material-icons/iconfont/material-icons.css';
@import 'scss/fonts/lcdbold/font.css';
@import 'scss/_colors.scss';

* {
	transition: all 0.1s;
}
html, body {
	height: 100%;
	background-color: $primary-bg;
	color: $primary-fg;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%}

.controls {
	margin: 2rem;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 10px;

	.time-presets button > span {
		font-size: 18px;
	}
	.mat-icon {
		height: auto;
		width: auto;
	}
	.control {
		font-size: 2rem;
	}
	.control-btn {
		background-color: $primary-bg;
		color: $primary-fg;
		border: 1px solid $highlight;
		border-radius: 15px;
		padding: 0.35rem 1rem 0.25rem;
		margin: 0.5rem;
		cursor: pointer;
	}
	.control-btn:hover,
	.control-btn.active {
		background-color: $highlight;
		color: $primary-bg
	}

}
.moves {
	font-family: 'LCDBOLD';
	font-size: 2rem;
	padding-top: 2rem;
}

.clock-container {
	text-align: center;

	.clock {
		font-family: 'LCDBOLD';
		font-size: 9.21rem;
		padding-top: 7.21rem;
		padding-bottom: 7.21rem;
		cursor: pointer;
		border-radius: 1.5rem;
		background-color: lighten($primary-bg, 10%);
		// &:first-child {border-right: 1px solid #fff;}
	}

	.clock.paused {
		background-color: lighten($primary-bg, 10%);
		border: 1px solid lighten($primary-bg, 10%);
		color: $primary-fg;
	}
	.clock.active {
		background-color: lighten($primary-bg, 15%);
		border: 1px solid $highlight;
		color: $highlight;
	}

}

@media only screen and (max-width: 769px) {
	.clock-container {
		.clock {
			font-size: 6.21rem;
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}
}

@media only screen and (max-width: 480px) {
	.clock-container {
		.clock {
			font-size: 3.5rem;
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}
	}

	.controls {
		.time-presets button > span {
			font-size: 16px;
		}
		.control-btn {
			padding: 0.25rem 1rem;
			margin: 0.5rem 0.25rem;
		}

	}
}
