@import 'scss/fonts/lcdbold/font.css';
@import 'scss/fonts/linebeam/font.css';
@import 'scss/fonts/pixel/font.css';

.font-LCDBOLD {
	font-family: 'LCDBOLD';
}

.font-linebeam {
	font-family: 'linear_beam';
}

.font-pixel {
	font-family: 'pixel';
}

.font-Roboto {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
